*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "cantury";
    src : url("../fonts/cantury.ttf");
}
@media(min-width: 1199px){
    .wrap{
        max-width: 70%;
    }
    
}
.app{
    overflow: hidden;
}
body{
    min-width: 320px;
    font-family: "cantury", sans-serif;
}
.wrap-mini{
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.wrap{
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header__top{
    text-align: right;
    font-size: 12px;
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}
.header__logo img{
    width: 232px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    padding-top: 25px;
    padding-bottom: 10px;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;

}
.menu a{
    padding: 0 1.5vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    transition: 0.3s all;
    border-right: 1px solid #000;
}
.menu li:first-child a{
    border-left: 1px solid #000;
}
.menu .active a{
    color: #e60000!important;
}

.menu a:hover{
    color: #e60000!important;
}
.header__nav input{
    height:2.5vw;
    border: 1px solid red;
    padding: 1vw;
    font-size: 1.2vw;
    line-height: 1.2;
    width: 12vw;
    margin-left: 1.5vw;
}
.header__nav input::placeholder{
    text-align: right;
    font-synthesis: 1.2vw;
    line-height: 1.2;
    font-family: "cantury", sans-serif;
    color: #000;
}
.header__nav input:focus{
    outline: none;
}

.main1{
    color: #fff;
    height: 35vw;
    background-size: cover;
}

.main1__content{
    margin-left: 3vw;
    width: 27vw;
    height: 90%;
    padding-top: 5vw;
    background-color: rgba(255, 0, 94, 0.28);
    padding-bottom: 5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
.main1__content1 div{
    font-size: 2.2vw;
}
.main1__content1 span{
    font-size: 1.3vw;
}
.main__content2 {
    margin-top: 7vw;
}
.main__content2 span{
    font-size: 1.3vw;
    display: block;
    text-align: right;
}
.main__content3{
    font-size: 2.2vw;
    margin-top: 2vw;
}


.main2{
    height: 45vw;
    background-size: cover;
}
.main2 h2{
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 4vw;
    color: #c73447;
    background-color: #fff;
}
.main2__wraper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: -2.5vw;
}
.main2__item{
    margin: 0 1vw;
    width: calc(100% / 4 - 2vw);
    background-color: #ce001c;
    padding: 1vw 2vw;
    position: relative;
    height: 25vw;
    color: #fff;
}
.main2__item__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2__item__img img{
    max-width: 100%;
}
.main2__title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-size: 1.2vw;
}
.main2__item p{
    font-size: 1vw;
}
.main2__item p span{
    letter-spacing: 4px;
    display: block;
}
.main2__item a{
    border: 1px solid #fff;
    display: block;
    bottom: 1.5vw;
    position: absolute;
    left: 50%;
    white-space: nowrap;
    padding: 0.5vw;
    transform: translateX(-50%);
    color: #fff;
    text-decoration: none;
    transition: 0.3s all;
    font-size: 1.3vw;
}
.main2__item a:hover{
    box-shadow: 0 0 5px rgba(0,0,0, 0.5)
}
.main3__wrap{
    background-color: #d7122d;
    color: #fff;
    padding: 2vw;
    margin-left: 15vw;
    padding-right: 35vw;
    position: relative;
    margin-top: 5vw;
    padding-bottom: 10vw;
    padding-left: 5vw;
}
.main3__title{
    text-align: center;
    position: relative;
    font-size: 1.5vw;
    margin-bottom: 2vw;
}
.main3__title span{
    font-weight: bold
}
.main3__title:before{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 25px;
    left: 50%;
    height: 1px;
    background-color: #fff;
    transform: translateX(-50%);

}
.main3__text{
    text-align: justify;
    font-size: 1.4vw;
}
.main3__wrap img{
    position: absolute;
    right: 0;
    width: 32vw;
    top: 2vw;
}
.main4{
    margin-top: 11vw;
    position: relative;
}
.main4__wrap{
    background-color: #d7122d;
    color: #fff;
    padding: 2vw;
    margin-right: 15vw;
    padding-left: 35vw;
    position: relative;
    margin-top: 5vw;
    padding-bottom: 10vw;
    padding-right: 5vw;
    height: 26vw;
}
.main4img{
    position: absolute;
    left: 6vw;
    top: -5vw;
    width: 20vw;
    z-index: 2;
}
.main4img2{
    position: absolute;
    left: 0vw;
    top: -2vw;
    width: 30vw;
    z-index: 1;
    height: 110%;
}

.main4img3{
    position: absolute;
    right: 0;
    width:28vw;
    bottom: -4vw;
}


.contact{
    margin-top: 7vw;
    margin-bottom: 2vw;
    padding: 1vw 2vw;
    width: 70%;
    margin-left: 30%;
    background-color: #000;
    color: #fff;
    height: 6vw;
    display: flex;
    align-items: center;
}
.contact2{
    margin-bottom: 1vw;
}
.contact__title{
    border-left: 1px solid #fff;
    padding: 1vw;
    padding-left: 1vw;
    font-size: 1.5vw;
}
.contact2__colum a{
    display: flex;
    text-decoration: none;
}
.contact2__wrap{
    display: flex;
    justify-content: space-between;
}
.contact__i{
    text-align: center;
    width: 4.1vw;
}
.contact2__colum i{
    font-size: 2.5vw;
    color: #d7122d;
    
}
.contact2__item{
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    font-size: 1.4vw;
    color: #d7122d;
    transition: 0.5s all;
}
.contact2__item:hover{
    transform: translateX(5px);
}
.footer{
    background-color: #000;
    padding-top: 5vw;
    padding-bottom: 4vw;
}
.footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 1.4vw;
    transition: 0.5s all;
}
.footer a:hover{
    transform: translateX(5px);
}
.footer__column{
    margin-right: 7vw;
}
.footer__wrap{
    display: flex;
    flex-wrap: wrap;
    margin-right: -7vw;
}
.footer__logo{
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-top: 4vw;
}
.footer__logo img{
    width: 130px;
}


@media(max-width: 1199px){
    .wrap{
        max-width: 700px;
    }
}

@media(max-width: 1023px){
    .wrap{
        max-width: 100%;
    }
    .header__logo img{
        width: 200px;
    }
    .menu a{
        font-size: 2.3vw;
    }
    .header__nav input{
        height: 3.5vw;
        border: 1px solid red;
        padding: 1vw;
        font-size: 2.2vw;
        line-height: 1.2;
        width: 18vw;
        margin-left: 1.5vw;
    }
    .main1__content1 div{
        font-size: 3.2vw;
    }
    .main1__content1 span {
        font-size: 2.3vw;
    }
    .main__content2 span{
        font-size: 2vw;
    }
    .main1__content{
        width: 40vw;
    }
    .main1{
        height: 55vw;
    }
    .main2__title{
        font-size: 2.2vw;
    }
    .main2__item p{
        font-size: 1.8vw;
    }
    .main2__item{
        margin-bottom: 2vw;
        height: 38vw;
        width: calc(100% / 2 - 2vw);
    }
    .main2{
        height: auto;
    }
    .main2__wraper {
        flex-wrap: wrap;
    }

    .main2__item__img img{
        max-height: 70px;
    }
    .main2__item a{
        font-size: 2vw;
    }


    .main3__title{
        font-size: 2.5vw;
    }

    .main3__text{
        font-size: 2vw;
    }
    .main3__wrap{
        margin-left: 5vw;
    }
    .main4__wrap{
        height: 30vw;
    }
    .contact__title{
        font-size: 2.5vw;
    }
    .contact{
        height: 8vw;
    }
    .contact2__colum a{
        font-size: 2.4vw;
    }
    .contact2__item{
        margin-bottom: 1.5vw;
    }
    .contact2__colum i{
        font-size: 3.5vw;
    }
    .contact__i{
        width: 8vw;
    }

    .footer a{
        font-size: 2.3vw;
        margin-bottom: 1vw;
    }
    .footer__wrap{
        margin-right: 0;
    }
    .footer__column{
        margin-right: 5vw;
    }
}
.burger{
    display: none;
}
@media(max-width: 767px){
    .burger{
        display: block;
        position: relative;
        height: 20px;
        width: 25px;
    }
    .burger span{
        height: 4px;
        width: 25px;
        display: block;
        position: absolute;
        background-color: black;
    }
    .burger span:nth-child(1){
        top:0;
    }
    .burger span:nth-child(2){
        top: 8px;
    }
    .burger span:nth-child(3){
        bottom: 0;
    }
    .menu{
        display: none;
    }
    .header__nav{
        position: fixed;
        top: 0;
        background-color: #fff;
        width: 100%;
        left: 0;
        right: 0;
        justify-content: space-between;
        padding: 10px 15px;
        flex-direction: row-reverse;
        box-shadow: 0 0 5px rgba(0,0,0, 0.5);
        z-index: 3;
        height: 50px;
    }
    .header__nav input{
        width: 50%;
        height:30px;
        transition: 0.3s all;
        font-size: 16px;
    }
    .header__nav input:focus{
        width: 70%;
    }
    .header{
        padding-top: 60px;
    }
    .header .wrap{
        display: flex;
        flex-direction: column-reverse;
    }
    .header__logo{
        margin-bottom: 5px;
    }
    .header__top{
        text-align: center;
        margin-bottom: 10px;
    }
    .header__logo img{
        width: 175px;
    }
    .main1__content1 div{
        font-size: 6.5vw;
    }
    .main1__content{
        width: 60vw;
    }
    .main1__content1 span{
        font-size: 3.3vw;
    }
    .main__content2 span{
        font-size: 3vw;
    }
    .main__content3 {
        font-size: 5.2vw;
        margin-top: 8vw;
    }

    .menu{
        position: fixed;
        padding-top: 50px;
        height: 100%;
        background-color: #fff;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 50px;
    }
    .menu a{
        border: 0;
        font-size: 5vw;
    }
    .menu li:first-child a{
        border: 0;
    }
    .menu li{
        display: flex;
        justify-content: center;
        margin-bottom: 3vw;
    }
    .burger span{
        transition: 0.3s all;
    }
    .burger.active span:nth-child(1){
        transform: rotate(45deg);
        top: 6px;
    }
    .burger.active span:nth-child(3){
        transform: rotate(-45deg);
        bottom: 10px;
    }
    .burger.active span:nth-child(2){
        transform: translateX(-50%);
        opacity: 0;
       
    }
    .main2 h2{
        padding-top: 10vw;
        padding-bottom: 12vw;
    }
    .main2__wraper{
        margin-top: -5vw;
    }
    .main2__title{
        font-size: 4.2vw;
    }
    .main2__wraper{
        width: 90%;
    }
    .main2__item{
        height: auto;
        width: 100%;
        padding: 5vw;
        padding-bottom: 20vw;
    }
    .main2__item p{
        font-size: 3.8vw;
    }
    .main2__item a{
        font-size: 4vw;
        padding: 1.5vw;
        bottom: 4.5vw;
    }
    .main3__title{
        font-size: 4.5vw;
        margin-bottom: 4vw;
    }
    .main3__text{
        font-size: 3.5vw;
    }
    .contact2{
        margin-bottom: 5vw;
    }
    .main3__wrap{
        margin-left: 0;
        padding: 5vw;
        padding-right: 35vw;
        margin-top: 10vw;
    }
    
    .main3__text{
        font-size: 3vw;
    }
    .main4{
        margin-top: 15vw;
    }

    .main4__wrap{
        margin-right: 0;
    }
    .main4img3{
        margin-bottom: -10vw;
    }
    .contact{
        margin-top: 22vw;
        height: auto;
        padding: 3vw 4vw;
        width: 90%;
        margin-left: 10%;
        margin-bottom: 10vw;
    }
    .contact__title{
        font-size: 5vw;
        padding-left: 4vw;
    }
    .contact2__colum a{
        font-size: 3.4vw;
    }
    .contact2__colum i{
        font-size: 5.5vw;
    }
    .contact2__item{
        margin-bottom: 3.5vw;
    }

    .footer__logo img{
        width: 99px;
    }
    .footer a{
        font-size: 4.3vw;
        margin-bottom: 2vw;
    }
    .footer__column{
        margin-right: 0;
        margin-bottom: 4vw;
    }
    .footer__wrap{
        flex-direction: column;
    }
    .main4img3{
        width: 35vw;
        bottom: -7vw;
    }
    .footer__logo{
        margin-top: 5vw;
    }
    .footer{
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    .main2__item__img img{
        max-height: 50px;
    }
    .main2__title{
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
}
@media(max-width: 374px){
    
}